---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-12">
   {% include index/description.html %}
   {% include index/carousel.html title="Browse Items" %}
  </div>
  <div class="col-md-6">
    {% include index/featured-terms.html field="subject" title="Explore by subjects" btn-color="primary" %}
  </div>
  <div class="col-md-6">  
    {% include index/featured-terms.html field="collection" title="Collections" btn-color="outline-secondary" %}
    {% comment %}{% include index/content.html %}{% endcomment %}
  </div>

<div class="col-md-12">
    {% comment %}{% include feature/timelinejs.html %}{% endcomment %}
    {% comment %}{% include index/time.html %}{% endcomment %}
    {% comment %}{% include index/data-download.html %}{% endcomment %}
  </div>